* { margin:0; padding:0; box-sizing: border-box;}

 p {color:black; font-family: sans-serif; font-size: 23px; display: none}

.desktop{ width: 1200px;
          height: 100px;
          background-color: blueviolet;
          display: flex;
          justify-content: center;
          align-items: center;
}

.tablet{ width: 992px;
         height: 100px;
         background-color: gold;
         display: flex;
         justify-content: center;
         align-items: center;
}

.phone{ width: 576px;
        height: 100px;
        background-color: aqua; 
        display: flex;
        justify-content: center;
        align-items: center;
}

.lista-produtos{ display: flex;
                 justify-content: space-around;
                 flex-wrap: wrap;

                 background-color: #eee;
                 width: 100%;
                 height: auto;
}

.produto{ width: 200px;
          height: 250px;
          margin: 40px 5px;
          box-shadow: 5px 5px 5px 0px rgb(145, 145, 145);
          border-radius: 4px;
          background-color: #fff;
}

.phone p { display:none;}

.tablet p { display:none;}

.desktop p { display:inline;}




@media (max-width:992px) {

.phone p { display: none;}

.tablet p { display: inline;}

.desktop p { display: none;}

}




@media (max-width: 576px) {

.phone p { display: inline;}

.tablet p { display: none;}

.desktop p { display: none;}

}